@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-2 {
    -webkit-text-stroke: 2px #20591e;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) and (max-width: 1490px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1491px) and (max-width: 1750px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1751px) {
  html {
    font-size: 21px;
  }
}

/* 定義淡入淡出動畫 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* react slick animation */

/* 滑塊基本樣式 */
.slick-slide {
  transition:
    transform 0.5s ease,
    opacity 0.5s ease !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100% !important; /* 填充父容器高度 */
  position: relative;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100%;
  overflow: visible !important;
}

/* 中間圖片 */
.slick-center {
  transform: scale(1) !important;
  opacity: 1 !important;
  z-index: 10 !important;
}

/* 非中間圖片 */
.slick-slide:not(.slick-center) {
  opacity: 0.5 !important;
}

/* 非活躍滑塊隱藏 */
.slick-slide:not(.slick-active) {
  transform: scale(0) !important;
  opacity: 0 !important;
}

/* 滑塊列表 */
.slick-list {
  overflow: visible !important;
  width: 100%;
  height: 100% !important; /* 填充父容器高度 */
  padding: 0 !important;
}

/* 偏移左右圖片 */
.slick-slide.slick-active:not(.slick-center) {
  transform: scale(0.7) translateX(-70%) !important; /* 減少縮放和偏移 */
}

.slick-slide.slick-active + .slick-slide:not(.slick-center) {
  transform: scale(0.7) translateX(70%) !important; /* 減少縮放和偏移 */
}

/* 箭頭樣式 */
.slick-arrow {
  z-index: 30 !important;
  width: 15rem !important;
  height: 3rem !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 90% !important;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important;
}

.slick-prev {
  left: 2rem !important;
  background: url("./assets/workProcess/btn-light-previous.svg") no-repeat
    center !important;
}

.slick-next {
  right: 2rem !important;
  background: url("./assets/workProcess/btn-light-next.svg") no-repeat center !important;
}

.dark .slick-prev {
  left: 2rem !important;
  background: url("./assets/workProcess/btn-previous.svg") no-repeat center !important;
}

.dark .slick-next {
  right: 2rem !important;
  background: url("./assets/workProcess/btn-next.svg") no-repeat center !important;
}

/* 導航點樣式 */
.slick-dots {
  bottom: 0.2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-dots li {
  margin: 0 0.5rem !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
}

.slick-dots li button {
  width: 0.75rem !important;
  height: 0.75rem !important;
  border-radius: 100% !important;
  background: #ccc !important;
  transition: background 0.3s ease !important;
}

.slick-dots .slick-active button {
  width: 1rem !important;
  height: 1rem !important;
  background: black !important;
}

.dark .slick-dots li button {
  background: #aaa !important;
}

.dark .slick-dots .slick-active button {
  background: white !important;
}

.slick-dots li button::before {
  content: "" !important;
  display: none !important;
}

/* 手機模式 */
@media (max-width: 768px) {
  .slick-slide {
    transform: scale(1) !important;
    opacity: 1 !important;
    padding: 0 !important;
  }
  .slick-slide > div {
    width: 100vw !important;
  }
  .slick-slide:not(.slick-center) {
    transform: none !important;
  }
  .slick-slider {
    padding: 0 !important;
  }
  .slick-list {
    height: 100% !important;
  }
  .slick-slide img {
    width: 100vw !important; /* 手機模式下填滿螢幕寬度 */
    height: 50vh !important; /* 手機模式下調整高度 */
  }
}
